fm
*.kdev4
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
screen.c
draw_array.c
keypress.c
print.c
print.h
traverse.c
.main.c.swp
draw_array2
traverse
screen
main_FILES
build/*
.vimspector.json
coc-settings.json
settings.json
*.swp
src/*.o
src/errors
src/unused_functions.c
unused_functions.c
